extends ./includes/layout
block main
	.container
		.row
			.col-md-12
				br
				br
				br
				ul
					li Name:#{user.profile.name}
					li Email:#{user.email}
					li Gender:#{user.profile.gender}
					li location:#{user.profile.location}
				
				h2 You are invited to the following events
				if(!invites)
					h1 no invites
				else
					each val in invites
						if(val)
							.jumbotron
								ul
									p= val.profile.title
									p= val.profile.location
									p= val.profile.category
									p= val.profile.desc
									if(val.status)
										P Status :Cancelled
								form(action="/confirm-event/"+val._id method="post")
									.btn-group(data-toggle='buttons')
										h2 Invitations:
										label.btn.btn-primary.active
											input#option1(type='radio', name='options', autocomplete='off', checked='' value='confirm')
											|  Confirm-event
										label.btn.btn-primary
											input#option2(type='radio', name='options', autocomplete='off' value='reject')
											|  Reject-Event
									button.btn.btn-primary(type='submit') Submit
								form(action="/display-event/"+val._id method="post")
									button.btn.btn-default(type='submit') Details 
				h2 You are attending to the following events
				each val in attending
					if(val)
						.jumbotron
							ul
								p= val.profile.title
								p= val.profile.location
								p= val.profile.category 
								p= val.profile.desc
								if(val.status)
									P Status :Cancelled
							form(action="/unregister-event/"+val._id method="post")
								button.btn.btn-primary(type='submit') Unregister-Event
							form(action="/display-event/"+val._id method="post")
								button.btn.btn-default(type='submit') Details 							
				h2 You created the following events
				each val in eventsCreated
					if(val)
						.jumbotron
							ul
								p= val.profile.title
								p= val.profile.location
								p= val.profile.category
								p= val.profile.desc
								if(val.status)
									P Status :Cancelled
							form(action="/unregister-event/"+val._id method="post")
								button.btn.btn-primary(type='submit') Unregister-Event
							form(action="/cancel-event/"+val._id method="post")
								button.btn.btn-primary(type='submit') Cancel-Event
							form(action="/display-event/"+val._id method="post")
								button.btn.btn-default(type='submit') Details 		
							button.btn.btn-primary.btn-lg(data-toggle='modal', data-target='#myModal') Attendees
							#myModal.modal.fade.bs-modal-xs(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
								.modal-dialog
									.modal-content
										.modal-header
											button.close(type='button', data-dismiss='modal', aria-hidden='true')
											| ×
											h4#myModalLabel.modal-title
											| People Attending My Event
											.modal-body
												each item in val.att 
													.container-fluid
														.row
															.col-md-6.attendeesimg
																img.img-circle(src=item.profile.picture)
															.col-md-6
																h3= item.profile.name
													hr(style="height:1px;border:none;color:#333;background-color:#333;") 
											.modal-footer
												button.btn.btn-default(type='button', data-dismiss='modal')| Close
												





