extends ./includes/layout
block main
	.container
		.row
			.col-md-12
				br
				br
				br
				ul
					li Name:#{user.profile.name}
					li Email:#{user.email}
					li Gender:#{user.profile.gender}
					li location:#{user.profile.location}
			//- -console.log(events)
				h2 You are invited to the following events
				each val in events
					.jumbotron
						ul
							li Name:#{val.profile.title}
