extends ./includes/layout
block main
	.container
		.row
			#jumbo3.col-md-6.col-md-offset-4.jumbotron
			
				each val in events
					//- -console.log(val.profile);
					p Title:#{val.profile.title}
					p Location: #{val.profile.location}
					p StartDate: #{val.profile.startdate}
					p EndDate: #{val.profile.enddate}
					p Start Time: #{val.profile.time}
					p Duration: #{val.profile.duration}
					p Description: #{val.profile.desc}
					p Category: #{val.profile.categorys}
					if(user)
						if(val.organizerId ==user._id)
							form(action='/add-invite/'+val._id method='post')
								h2 Invite
								input.form-control(type='text' placeholder='One Email at a time' name="eventInvite")
								button.btn.btn-default(type='submit') Add User       	
								



