extends ./includes/layout
block main
  #ninja-slider
      ul
        li
          a(data-image='1/img/1-s.jpg')
            h3 Conferences
        li
          div(data-image='1/img/2-s.jpg')
        li
          div(data-image='1/img/3-s.jpg')
            h3 MeetUps
        li
          div(data-image='1/img/4-s.jpg')
        li
          div(data-image='1/img/5-s.jpg')
            h3 Hackathons
        li
          div(data-image='1/img/6-s.jpg')
      h2 EXPLARA 
    nav#nav-wrap
    a.mobile-btn(href='#nav-wrap', title='Show navigation') Show navigation
      | &#x9;      
      a.mobile-btn(href='#', title='Hide navigation') Hide navigation
      |          
      ul#nav.nav
        li.current
          a.smoothscroll(href='#nav-wrap') Home
        |             
        li
          a.smoothscroll(href='/aboutus') About
        | &#x9;         
        li
          a.smoothscroll(href='/view-event') Events
        |             
        li
          a.smoothscroll(href='/contactus') Contact
        br
      // end #nav   
  .container
    each val in ['Conference','Hackathon','Meet Ups','Workshops']
      .row
        hr(style="  border-top: 5px solid #A7F3EF")
        if(val=='Conference')
          h2#headingin
            i.fa.fa-suitcase
            =' '+ val
        if(val=='Hackathon')
          h2#headingin
            i.fa.fa-user-secret
            =' '+ val
        if(val=='Meet Ups')
          h2#headingin
            i.fa.fa-coffee
            =' '+ val
        if(val=='Workshops')
          h2#headingin
            i.fa.fa-cogs
            =' '+ val


        each item in events
          if(item.profile.category==val)
            .box1.col-md-3(href='/display-event/'+item._id)
                h1= item.profile.title
                  if(item.img.name)
                    img(src='#{item.img.name}')
                  |         
                  p= item.profile.location
                  p= item.profile.category
                  p= item.profile.desc
                  form(action="/display-event/"+item._id method="post")
                    button.btn.btn-default(type='submit') Details 

          
          
            //- 
            //-  
            //-  
  
  
  
                
